*:hover {
    outline: indigo solid 1px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.overview {
    display: flex;
    justify-content: center;
}

.overview.text {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote.writer {
    text-align: right;
}

.call-to-action {
    display: flex;
    align-items: center;
}

.call-to-action.text {
    display: flex;
    flex-direction: column;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}